venv/
.venv/
node_modules/
bot-messenger/ngrok.exe
*.pyc
*.log
.vscode/
.idea/
ENV/
.python-version
*.sentinel

scrach.py
package-lock.json
yarn.lock
.scannerwork/
.cache/
postgres*

tmp/
.coverage
htmlcov/
.pytest_cache/
junit.xml
coverage.xml
prof/

**/.cache/
.env
.mypy_cache
.ruff_cache
.benchmarks
db.sqlite3